

<script class="API DATA">
    var eventName = document.querySelector(".event-name")
    var mainImage = document.querySelector(".main-image")
    var eventVenue = document.querySelector(".event-venue")
    var eventVenueLink = document.querySelector(".event-venue-link")
    var eventDate = document.querySelector(".event-date")
    // var eventId
            eventName.textContent = name
            mainImage.src = image
            mainImage.style.height = "400px"
            eventVenue.textContent = location
            eventVenueLink.href = `https://www.google.com/maps/search/?api=1&query=${eventLocation.replace(' ', '+')}`
            eventDate.textContent = date + " at " + time

        })
    })
</script>

<script class="API DATA">
    var eventName = document.querySelector(".event-name")
    var mainImage = document.querySelector(".main-image")
    var eventVenue = document.querySelector(".event-venue")
    var eventVenueLink = document.querySelector(".event-venue-link")
    var eventDate = document.querySelector(".event-date")
    // var eventId
            eventName.textContent = name
            mainImage.src = image
            mainImage.style.height = "400px"
            eventVenue.textContent = location
            eventVenueLink.href = `https://www.google.com/maps/search/?api=1&query=${eventLocation.replace(' ', '+')}`
            eventDate.textContent = date + " at " + time

        })
    })
</script>


<main class="event">

    <header class="event__header">
        <div class="event-hero-bg"><img class="main-image" src="<%= @image %>" alt=""></div>
        <div class="overlay"></div>
        <div class="event__header__wrapper">
            <h2 class="event-name"><%= @name %></h2>
            <h4>
                <span><a target="_blank" class="event-venue-link" href="https://www.google.com/maps/search/?api=1&query=<%=@location.gsub(' ', '+')%>">
                    <%= @location %></p>
                    </a></span><span> - </span><span><p class="event-date-time"><%= @date %> at <%= @time %></p></span>
            </h4>
            <div class="btn-wrapper">
                <button class="prim-btn">Get tickets</button>
                <button class="white-btn create-post-btn">Create a post</button>
            </div>
        </div>
    </header>

    <section class="create-post-section d-none">
        <form class="create-post-form" action="/events/create_post" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="id" value="<%= params[:id] %>">
            <input type="hidden" name="name" value="<%= @name %>">
            <input type="hidden" name="image" value="<%= @image %>">
            <input type="hidden" name="location" value="<%= @location %>">
            <input type="hidden" name="date" value="<%= @date %>">
            <input type="hidden" name="time" value="<%= @time %>">


            <h2>Create a post</h2>
            <label for="">Post Title</label><br>
            <input type="text" name="post_title" id="" ><br>
            <label for="">Age Group preference</label><br>
            <select name="age_preference">
                <option value="any age">any age</option>
                <option value="under 30">between 18 and 30</option>
                <option value="over 30">over 30</option>
                <option value="over 40">over 40</option>
            </select><br>
            <label for="">Gender preference</label><br>
            <select name="gender_preference">
                <option value="anyone">anyone</option>
                <option value="male">male</option>
                <option value="female">female</option>
            </select><br>
            <label for="">Group size preference</label><br>
                <input type="text" name="group_size" id="" ><br>
            <label for="">Description</label><br>
            <input type="text" name="post_description" id="" ><br>
            <button>Post</button>
        </form>
    </section>

    <section class="buddy-section">
        <div class="buddy-section__title">
            <h4>Find a buddy</h4>
        </div>
        <% if @active_posts.empty? %>
            <h3>There are no posts for this event yet. Be the first to post!</h3>
            <% else %>
            <% @active_posts.each_with_index do |post, num| %>

                    <article class="posts">
                        <div class="posts__dp">
                            <img src="" alt="">
                        </div>
                        <div class="posts__title">
                            <h2><%= @user_names[num] %></h2>
                            <p>Looking for a group of <%= post.group_size %></p>
                        </div>
                        <div class="posts__btns">
                            <p>Description</p>
                            <button class="prim-btn">Connect</button>
                        </div>
                    </article>

            <% end %>
        <% end %>
    </section>

    <script>

    </script>

</main>




<script class="create-form">
    var createPostSection = document.querySelector('.create-post-section')
    var createPostBtn = document.querySelector('.create-post-btn')
    var createPostForm = document.querySelector('.create-post-form')

    var showCreatePostForm = () => {
        createPostSection.style.display = "flex"
    }

    var hideCreatePostForm = () => {
        createPostSection.style.display = "none"
    }

    createPostBtn.addEventListener('click', showCreatePostForm)

</script>


<section class="inactive-posts">
    <h2>People who found their buddies</h2>
    <% if @inactive_posts.empty? %>
    <h3>No matches yet!</h3>
    <% else %>
        <% @inactive_posts.each_with_index do |post, num| %>
            <article>
                 <h3 class="post-title"><%= post.post_title %></h3>
                <p>Posted By: <%= @user_names[num] %></p>
                <p><%= post.age_preference %></p>
                <p><%= post.gender_preference %></p>
                <p><%= post.group_size %></p>
                <p class="post-description"><%= post.description %></p>
            </article>
        <% end %>
    <% end %>

</section>




