
<style>
    .create-post-form {
        display: none;
    }
    * {
        background: black;
        color: white;
    }

    .event-name {
        padding-top: 100px;
    }
</style>

<script class="API DATA">
    var eventName = document.querySelector(".event-name")
    var mainImage = document.querySelector(".main-image")
    var eventVenue = document.querySelector(".event-venue")
    var eventVenueLink = document.querySelector(".event-venue-link")
    var eventDate = document.querySelector(".event-date")
    // var eventId
            eventName.textContent = name
            mainImage.src = image
            mainImage.style.height = "400px"
            eventVenue.textContent = location
            eventVenueLink.href = `https://www.google.com/maps/search/?api=1&query=${eventLocation.replace(' ', '+')}`
            eventDate.textContent = date + " at " + time

        })
    })
</script>

<h1 class="event-name"><%= @name %></h1>

<img class="main-image" src="<%= @image %>" alt="">


<script class="API DATA">
    var eventName = document.querySelector(".event-name")
    var mainImage = document.querySelector(".main-image")
    var eventVenue = document.querySelector(".event-venue")
    var eventVenueLink = document.querySelector(".event-venue-link")
    var eventDate = document.querySelector(".event-date")
    // var eventId
            eventName.textContent = name
            mainImage.src = image
            mainImage.style.height = "400px"
            eventVenue.textContent = location
            eventVenueLink.href = `https://www.google.com/maps/search/?api=1&query=${eventLocation.replace(' ', '+')}`
            eventDate.textContent = date + " at " + time

        })
    })
</script>


<main class="event">

    <header class="event__header">
        <div class="event-hero-bg"></div>
        <div class="event__header__wrapper">
            <h1>Waxo Paradiso</h1>
            <h4><span>Grace Darling Hotel</span><span> - </span><span>25 May</span></h4>
            <div>
                <button class="prim-btn">Get tickets</button>
                <button class="white-btn">Create Posts</button>
            </div>
        </div>
    </header>

    <section class="buddy-section">
        <div class="buddy-section__title">
            <h2>Find a buddy</h2>
        </div>
        <div class="buddy-section__posts">
            <article class="posts">
                <div class="posts__dp">
                    <img src="" alt="">
                </div>
                <div class="posts__title">
                    <h2>Chad</h2>
                    <p>Looking for a group of 3</p>
                </div>
                <div class="posts__btns">
                    <p>Description</p>
                    <button class="prim-btn">Connect</button>
                </div>
            </article>
        </div>
    </section>

</main>



<h1 class="event-name"><%= @name %></h1>

<img class="main-image" src="<%= @image %>" alt="">

<a target="_blank" class="event-venue-link" href="https://www.google.com/maps/search/?api=1&query=<%=@location.gsub(' ', '+')%>">
    <p class="event-venue"><%= @location %></p>
</a>

<p class="event-date-time"><%= @date %> at <%= @time %></p>


<section class="create-post-section">
    <button class="create-post-btn">Create Post</button>
    <form class="create-post-form" action="/events/create_post" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="id" value="<%= params[:id] %>">
        <input type="hidden" name="name" value="<%= @name %>">
        <input type="hidden" name="image" value="<%= @image %>">
        <input type="hidden" name="location" value="<%= @location %>">
        <input type="hidden" name="date" value="<%= @date %>">
        <input type="hidden" name="time" value="<%= @time %>">


    <h2>Create a post</h2>
        <label for="">Post Title</label><br>
        <input type="text" name="post_title" id="" ><br>
        <label for="">Age Group preference</label><br>
        <select name="age_preference">
            <option value="any age">any age</option>
            <option value="under 30">between 18 and 30</option>
            <option value="over 30">over 30</option>
            <option value="over 40">over 40</option>
        </select><br>
        <label for="">Gender preference</label><br>
        <select name="gender_preference">
            <option value="anyone">anyone</option>
            <option value="male">male</option>
            <option value="female">female</option>
        </select><br>
        <label for="">Group size preference</label><br>
            <input type="text" name="group_size" id="" ><br>
        <label for="">Description</label><br>
        <input type="text" name="post_description" id="" ><br>
        <button>Post</button>
    </form>
</section>

<script class="create-form">
    var createPostSection = document.querySelector('.create-post-section')
    var createPostBtn = document.querySelector('.create-post-btn')
    var createPostForm = document.querySelector('.create-post-form')

    var showCreatePostForm = () => {
        createPostForm.style.display = "block"
    }

    var hideCreatePostForm = () => {
        createPostForm.style.display = "none"
    }

    createPostBtn.addEventListener('click', showCreatePostForm)

</script>

<section class="active-posts">
    <h2>Find a buddy</h2>
    <% if @active_posts.empty? %>
        <h3>There are no posts for this event yet. Be the first to post!</h3>
    <% else %>
        <% @active_posts.each_with_index do |post, num| %>
            <article>
                <h3 class="post-title"><%= post.post_title %></h3>
                <p>Posted By: <%= @user_names[num] %></p>
                <p><%= post.age_preference %></p>
                <p><%= post.gender_preference %></p>
                <p><%= post.group_size %></p>
                <p class="post-description"><%= post.description %></p>
                <a href="">Message</a>
            </article>
        <% end %>
    <% end %>

</section>

<section class="inactive-posts">
    <h2>People who found their buddies</h2>
    <% if @inactive_posts.empty? %>
    <h3>No matches yet!</h3>
    <% else %>
        <% @inactive_posts.each_with_index do |post, num| %>
            <article>
                 <h3 class="post-title"><%= post.post_title %></h3>
                <p>Posted By: <%= @user_names[num] %></p>
                <p><%= post.age_preference %></p>
                <p><%= post.gender_preference %></p>
                <p><%= post.group_size %></p>
                <p class="post-description"><%= post.description %></p>
            </article>
        <% end %>
    <% end %>

</section>




